[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pairlist = "*"
matplotlib = "*"
genice2 = "*"

[dev-packages]
genice2-stampfli = {file = "https://github.com/vitroid/StampfliTiling/archive/genice2.zip"}
genice2-cockayne = {file = "https://github.com/vitroid/CockayneTiling/archive/genice2.zip"}
genice2-cage = "*"
tilecycles = "*"
mdanalysis = "*"

[requires]
python_version = "3.9"
